<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>no.torrottum.passwordstore</string>
	<key>connections</key>
	<dict>
		<key>45CD78DF-FB93-4D5E-9399-807275963C1B</key>
		<array/>
		<key>8369C7B4-2746-48EE-8C6A-F9CF4C67325B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>45CD78DF-FB93-4D5E-9399-807275963C1B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Tor Røttum</string>
	<key>description</key>
	<string>Pass workflow for Alfred with fuzzy matching</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Password Store</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>pass</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./alfred-pass $@</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>alfred-pass</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search password store</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8369C7B4-2746-48EE-8C6A-F9CF4C67325B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>PATH=/usr/local/bin:$PATH

bash copy-password.sh "{query}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>copy-password.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>45CD78DF-FB93-4D5E-9399-807275963C1B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Pass workflow for Alfred with fuzzy matching</string>
	<key>uidata</key>
	<dict>
		<key>45CD78DF-FB93-4D5E-9399-807275963C1B</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>8369C7B4-2746-48EE-8C6A-F9CF4C67325B</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>2.1.0</string>
	<key>webaddress</key>
	<string>https://github.com/torrottum/alfred-passwordstore</string>
</dict>
</plist>
